---
import AgrippaLogo from './AgrippaLogo.astro';
---

<header>
	<nav class="nav-wrapper">
		<div class="logo flex">
			<a href="/">
				<AgrippaLogo size={40} />
				<h1>Agrippa Docs</h1>
			</a>
		</div>
		<div style="flex-grow: 1;"></div>
	</nav>
</header>

<style>
	header {
		z-index: 11;
		width: 100%;
		background-color: var(--theme-navbar-bg);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		position: sticky;
	}

	.logo {
		flex: 1;
		display: flex;
		overflow: hidden;
		width: 30px;
		font-size: 2rem;
		flex-shrink: 0;
		font-weight: 600;
		gap: 0.25em;
		z-index: -1;
		color: var(--theme-text)
	}

	.logo a {
		display: flex;
		text-decoration: none;
		font-weight: bold;
		color: inherit;
	}

	.logo h1 {
		display: none;
		font: inherit;
		margin: 0;
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1em;
		width: 100%;
		max-width: 82em;
		padding: 0 1rem;
	}

	@media (min-width: 50em) {
		header {
			position: static;
			padding: 1.5rem 0rem;
		}
		.logo {
			width: auto;
			margin: 0;
			z-index: 0;
		}
		.logo h1 {
			display: initial;
		}
		.menu-toggle {
			display: none;
		}
	}
</style>
